* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

body .container {
    height: 100%;
    width: 100%;
}

.container .changepassword-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 5rem;
}

.container .changepassword-form {
    border: 1px solid gray;
    width: 480px;
    margin: auto;
    border-radius: 0.5rem;
}

.changepassword-form .title {
    h2 {
        border-bottom: 1px solid gray;
        padding: 1rem;
    }
}

.changepassword-form .form {
    padding: 1rem;
    
    p {
        margin-bottom: 1rem;
    }

    form {
        height: 70px;
    }

    input {
        padding: 1rem;
        width: 100%;
        border-radius: 0.5rem;
        outline: none;
    }
}

.changepassword-form .button {
    padding: 1rem;
    border-top:1px solid gray;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;

    button {
        padding: 0.7rem 2rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        cursor: pointer;
    }
}