* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

body .container {
    height: 100%;
    width: 100%;
}

.container .securitycode-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 5rem;
}

.container .securitycode-form {
    border: 1px solid gray;
    width: 450px;
    margin: auto;
    border-radius: 0.5rem;
}

.securitycode-form .title {
    h2 {
        border-bottom: 1px solid gray;
        padding: 1rem;
    }
}

.securitycode-form .form {
    padding: 1rem;

    p {
        margin-bottom: 1rem;
    }
}

.form .row {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.row .input-field {
    display: flex;
    flex-direction: column;

    input {
        height: 45px;
        padding: 1rem;
        border-radius: 0.5rem;
        outline: none;
    }
}

.row .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.securitycode-form .button {
    padding: 1rem;
    border-top:1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    button {
        padding: 0.7rem 2rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        cursor: pointer;
    }
}