/* Navbar Container */
.navbar {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 15px 5%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  /* border: 1px solid red; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

/* Top Row */
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-bottom: 15px; */
  /* border: 1px solid green; */
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.logo-box {
  background: #ff4757;
  padding: 5px 12px;
  border-radius: 8px;
  font-weight: bold;
}

.search-box {
  flex: 0 1 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  width: 80%;
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(11, 28, 45, 0.8);
  color: white;
  outline: none;
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Bottom Row */
.nav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}

.category-menu {
  /* border: 1px solid red; */
  display: flex;
  list-style: none;
  gap: 30px;
  color: white;
  margin: 0;
  padding: 0;
}

/* Menu Item */
.menu-item {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 5px;
  transition: 0.3s ease;
}

.menu-item:hover {
  color: #ffffff;
}

/* Dropdown */
.dropdown-content {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 200px;
  border-radius: 10px;
  padding: 10px 0;
  list-style: none;
  background: rgba(11, 28, 45, 0.95);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.menu-item:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-content li {
  padding: 10px 20px;
  color: #cbd5e1;
  font-size: 14px;
  transition: 0.25s ease;
}

.dropdown-content li:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

/* Login Button */
.login-btn {
  padding: 8px 25px;
  border-radius: 20px;
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e2e8f0;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.profile-icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logout-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}