.homePage {
    height: 100vh;
    width: 100vw;
}

.homePage .navBar {
    border: 1px solid red;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.homePage .navBar .logo {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.homePage .navBar .rightMenu .navigationBar {
    display: none;
}

.homePage .navBar .rightMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.homePage .navBar .rightMenu .rightBtn {
    display: flex;
    gap: 0.7rem;
    align-items: center;

    .searchBar, .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;

    }

    .menu {
        font-size: 28px;
    }

}



@media screen and (min-width: 1024px) {
    .homePage .navBar {
        /* padding: 2rem 0; */
    }

    .homePage .navBar .rightMenu .navigationBar {
        height: 100%;
        display: flex;
        gap: 2rem;
        align-items: center;
        cursor: pointer;
    }

    .homePage .navBar .rightMenu .rightBtn .searchBar {
        border: 1px solid red;
    }

    .homePage .navBar .rightMenu .rightBtn .menu {
        display: none;
    }
}

@media screen and (min-width: 1292px) {
    .homePage {
        width: 1330px;
        margin: auto;
    }
}