.auth-box {
    max-width: 420px;
    margin: 80px auto;
    font-family: Arial, sans-serif;
    border: 1px solid green;
  }
  
  .brand-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
    border: 1px solid green;
  }
  
  .tab-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid green;
  }
  
  .tab-btn {
    flex: 1;
    padding: 10px;
    background: #fff;
    border: none;
    font-weight: 500;
    border: 1px solid green;
  }
  
  .tab-btn.active {
    border-bottom: 3px solid black;
  }
  
  .custom-input {
    height: 48px;
    border-radius: 6px;
    margin-top: 12px;
  }
  
  
  .country-code {
    max-width: 90px;
    height: 48px;
    margin-top: 12px;
  }
  
  .input-error {
    border: 1px solid red !important;
  }
  
  .error-text {
    color: red;
    font-size: 13px;
    margin-top: 4px;
  }
  
  .main-btn {
    background: black;
    color: white;
    height: 48px;
    border-radius: 6px;
    border: none;
  }
  