.auction-page{
  width:100%;
  margin:auto;
}

.breadcrumb{
  margin-bottom:30px;
  font-size:16px;
}

.breadcrumb .home{
  color:#f1f8f4;
  text-decoration:none;
  font-weight:500;
}

.breadcrumb .arrow{
  margin:0 8px;
  color:#ccc;
}

.breadcrumb .current{
  color:#ccc;
}

.search-box{
  margin-bottom:40px;
}

.search-box input{
  width:300px;
  padding:12px 20px;
  border-radius:30px;
  border:none;
  outline:none;
  font-size:14px;
  background-color:#f1f8f4;
  color:#145a32;
}

.search-box input::placeholder{
  color:#145a32;
}

.auction-grid{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:25px;
}

.auction-card{
  background:#fff;
  border-radius:10px;
  padding:15px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  transition:0.3s;
}

.auction-card:hover{
  transform:translateY(-5px);
}

.image-box{
  width:100%;
  height:260px;
  overflow:hidden;
  border-radius:8px;
  margin-bottom:10px;
}

.image-box img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.lot{
  background:#e8f5e9;
  color:#2e7d32;
  padding:4px 10px;
  border-radius:5px;
  font-size:12px;
  display:inline-block;
  margin-bottom:8px;
}

.title{
  font-size:15px;
  margin-bottom:5px;
}

.price{
  color:#1b5e20;
  font-size:18px;
  margin-bottom:10px;
}

.result-btn{
  padding:8px 14px;
  border:none;
  border-radius:5px;
  background:#eee;
  cursor:pointer;
  font-size:12px;
  text-decoration:none;
  display:inline-block;
}

.inactive-card{
  border:2px solid red;
  position:relative;
  }
  
  .auction-status{
  position:absolute;
  top:8px;
  right:8px;
  background:red;
  color:white;
  font-size:12px;
  padding:4px 8px;
  border-radius:4px;
  font-weight:bold;
  }