.contact-page h2 {
  margin-bottom: 20px;
}

.contact-page textarea {
  width: 100%;
  height: 500px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
  outline: none;
}

.contact-page button {
  width: 200px;
  padding: 12px;
  background: #1c8f5f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 1rem;
}

.contact-page button:hover {
  background: #157a4f;
}

.input-error {
  border: 1px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
