.menuBar {
    position: fixed;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    transition: bottom 0.7s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.menuBar.slideUp {
    bottom: 0;
}

.menuBar.top {
    display: flex;
    flex-direction: column;
}

.menuBar .top .close {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    cursor: pointer;
}

.menuBar .top .navigationBar {
    margin-top: 0.5rem;

    p {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2rem;
    }

    .row {
        border-bottom: 1px solid rgb(240, 239, 239);
        padding: 1rem;
    }
}

.menuBar .bottom {
    display: flex;
    gap: 0.5rem;

    button {
        width: 50%;
        background-color: black;
        color: white;
        cursor: pointer;
        border-radius: 0.3rem;
        padding: 0.8rem;
    }
}